.card {
  padding: 24px;
  width: 300px;
}

.card-container {
  flex-direction: column;
  border: white solid 1px;
  border-radius: 12px;
  cursor: pointer;
}

.card-container:hover {
  opacity: 0.8;
  filter: drop-shadow(0 0 2em #ffffffaa);
}

.card-container > h2 {
  border-top: solid 1px white;
}

h2:first-letter {
  text-transform: uppercase;
}

@keyframes im {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  img:hover {
    animation: im infinite 20s linear;
  }
}
